div.header {
  margin: 8px;
  display: flex;
  justify-content: space-between;
}

.header button {
  margin-right: 8px;
}

.header span {
  font-size: 80%;
}

.content {
}

h3, h4 {
  text-align: center;
}

.grid-item {
  font-size: 0.75rem;
  padding: 0;
}

.grid-item h3, .grid-item h4, .grid-item p {
  text-align: left;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0;
}
